.noVideosView {
  padding-top: 20px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.darknoVideosView {
  color: grey;
}
