.gamingElement {
  width: 200px;
}

.gamingThumbnail {
  width: 100%;
}

.gamingTexts {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gamingName {
  color: #627388;
}

.darkTitle {
  color: #ebe8e7;
}

@media screen and (max-width: 576px) {
  .gamingElement {
    width: 46%;
  }
}

@media screen and (min-width: 576px) and (max-width:768px) {
  .gamingElement {
    width: 30%;
  }
}

